body{
    background-image:url(../img/bg5.jpg);
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    font-weight: 300;
    color: #62686f;
}
h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}
.container{
    width:960px;
    margin:200px auto;
}
.container>header{
    text-align:center;
    background-image:url(../img/banner.jpg);
    padding:1px;
}
.main-header__avatar{
    margin-top:-70px;
    margin-bottom:20px;
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
    border-radius: 999px;
    border: 3px solid white;
}

.main-header h1{
  font-size: 50px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

nav.main-nav {
    background-color: #333;
}
nav.main-nav ul{
    text-align:center;
    margin: 0 auto;
}

nav.main-nav ul li{
    margin: 15px 10px;
    list-style:none;
    display: inline-block;
    text-align:center;
}
.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.main-nav ul li a:hover {
  text-decoration: underline;
}


.info-section {
  background-color: #fff;
}
.info-section h2{
  margin-top:0;
}

ul.whatido__skill-list{
    list-style:none;
    padding:0;
    overflow:hidden;
    
}
ul.whatido__skill-list li{
    background-repeat:no-repeat;
    background-position:center top;
    background-size:auto;
    padding-top:100px;
    float:left;
}

.whatido__skill--code {
  background-image: url(../img/skill-code.png);
  width:33.3%;

}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
  width:33.3%;
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
  width:33.3%;
}
.info-section {
      padding: 30px 60px;
}

.info-section header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
    font-weight:500;
}
.info-section__description {
  font-style: italic;
}
.info-section header,.whatido__skill-list{
    text-align:center;
    padding-bottom:5px;
}
.info-section header h2:after{
    content: "";
    border-bottom: 3px solid black;
    display:block;
    width:80px;
    margin:15px auto;
}

